@{
    ViewData["Title"] = "Liste des produits";
}

@foreach (Produit str in Model)
{
   <div class="card" style="width: 18rem;" id="card">
  <img src="@str.ImageURL" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@str.Nom</h5>
    <p class="card-text">Prix = @str.Prix €</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
            <a asp-action="Details" asp-controller="Home" asp-route-id="@str.Id" class="btn btn-primary">Détail du produit</a>
  </div>
</div>
}
